/* フォントのダウンロード */
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

/* 全体の設定 */
body {
  background: black;
  font-family: 'Ubuntu Mono';
  font-size: medium;
}

/* ターミナルウィンドウ */
.terminal {
  width: 100%;
  height: 95vh;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: -1px;
  padding-top: 2px;
}

/* 入力コマンド */
.command {
  color: #ddd;
  width: 100%;
}
#current_command{
  color: #ddd;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #000;
  font-family: 'Ubuntu mono';
  font-size: medium;
  width: 100%;
}
#current_command:focus {
  border: 0; 
  outline: 0;
}

/* コマンドからの応答 */
.responce {
  color: #ddd;
}

/* ls コマンド等からのファイル一覧の個々の項目 */
.content{
  display: inline-block;
  width: 10rem;
}
.dir{
  color: #6d85a9;
}
.file{
  color: #ddd;
}

/* 各行 */
.line {
  margin-top: 3px;
  display: flex;
}

/* ユーザ名等 */
.user {
  color: #87d441;
}
.location {
  color: #6d85a9;
  margin-left: 0.5em;
}
.percent {
  color: #ddd;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

/* 入力カーソル */
/* .cursor {
  height: 2ex;
  width: 0.5em;
  background: white;
  display: block;
  animation: 700ms linear infinite alternate blink;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}*/
